
<div class="row">
<div class="col-lg-12">
   <p>Slipseknuden</p>
   <p>Slipsevej</p>
   <p>4300</p>
   <p>Holbæk</p>
   <p>info@slipseknuden.dk</p>
   <p>wwww.slipseknuden.dk</p>
   <p>Tlf: 88 99 66 44</p>
</div>
</div>
 