<ul>
  <li><a href="/home">Hjem</a></li>
  <li><a href="/about">Om slipseknuden</a></li>
  <li><a href="/garanti">Garanti</a></li>
  <li><a href="/contact">Kontakt</a></li>
  <li><a href="/news">Nyheder</a></li>
  <li><a href="/product">Produkter</a></li> 
  <input type="text">
  <a><i class="fa fa-search" aria-hidden="true" style="font-size:25px; color:white"></i></a>
  <i class="fa fa-facebook" aria-hidden="true" style="font-size:25px; color:white"></i>
  <i class="fa fa-twitter" aria-hidden="true" style="font-size:25px; color:white"></i>
</ul>
<img src="/img/logo.jpg">