<div class="col-lg-4">
<div class="vertical">
    <h3><strong>Produkter</strong></h3>
<ul>
    <li><a href="#home">ALLE</a></li>
    <li><a href="#news">SHOONS</a></li>
    <li><a href="#contact">KOREA SPECIAL</a></li>
    <li><a href="#about">US IMPORTS</a></li>
    <li><a href="#about">SLEEK FABRICS UK</a></li>
  </ul>
</div>

<div class="info">
<img src="/img/1_klassisk_brun.jpg">
<p><strong>Shoon Slips</strong></p>
<p>Klassisk Brun</p>
<p><strong>DKK 900,-</strong></p>
<button>INFO</button>

<img src="/img/2_stribet_stil.jpg">
<p><strong>US Imports</strong></p>
<p>Sølvpil</p>
<p><strong>DKK 600,-</strong></p>
<button>INFO</button>
</div>
</div>