<!DOCTYPE html>
<html lang="en">

  <head>
       <%include ../partials/head %>
  </head>

<body> 
  <main>
    <header>
         <%include ../partials/header %>
    </header>
    
    <%include ../partials/products %>

  <div class="produkt">
  
    <div class="col-lg-4">
      <img src="/img/1_klassisk_brun.jpg" alt="">
      <h3>Sleek Fabrics UK</h3>
      <p><strong>Sort nat, slipset til den ultra stilbeviste</strong></p>
      <h2>DKK 900,-</h2>
    </div>

    <div class="col-lg-4">
      <img src="/img/2_stribet_stil.jpg" alt="">
      <h3>Sleek Fabrics UK</h3>
      <p><strong>Sort nat, slipset til den ultra stilbeviste</strong></p>
      <h2>DKK 900,-</h2>
    </div>
  </div>
      
  <div class="col-lg-8">
    <div class="start">

      <h3>Hvor startede det hele henne - hvem var de første der bar slips?</h3>
            
            <p>Man skal helt tilbage til omkring år 1660, hvor kong Ludvig den 14. regerede Frankrig, 
            for at finde starten på det hele. Kongen gik utrolig meget op i mode og beklædning. Efter at 
            kroatiske soldater havde besejret Det Osmanniske Rige, deltog kongen i et optog hvor alle soldaterne 
            skulle gå forbi. Her bemærkede han at alle soldaterne bar et stykke rødt stof om halsen. Kongen 
            var så begejstret for det lille stykke klæde, at han valgte at hans kongelige regiment skulle bære halsklude i farven rød.</p>
            
            <p>Halskluden blev hurtig populær i resten af Europa, og var man en herre med stil, skulle man bære det.
             Efterhånden som tiden gik og moden skiftede, blev kluden mere kraftig. Da man når til 1800 tallet, var der en 
             modeskaber fra England, som af pratiske årsager valgte at gøre kluden mindre, så den ikke var så fremtrædende - 
             det har udviklet sig til det vi i dag kalder slips. I dag er det ikke længere noget der kun bæres af en bestemt gruppe 
             mennesker eller til jakkesæt. I dag bæres det af mange forskellige typer mennesker og slips findes i næsten lige så mange udgaver.</p>
    </div>
  </div>
  </main>
        
             <footer>
                 <% include ../partials/footer %>
             </footer>
</body>
</html>