<!DOCTYPE html>
<html lang="en">

  <head>
       <%include ../partials/head %>
  </head>
  
  <body>
    <main>
        <header>
                <%include ../partials/header %>
           </header>

           <%include ../partials/products %>

         <h1>Nyheder</h1>

         <p class="para"><strong>02/01/2014</strong></p>
         <p>Slipsknuden online.
                Vi lancerer nu vores hjemmesiden med billeder af vores aller fineste slips. LÆS MERE...</p>

        <p class="para"><strong>15/04/2013</strong></p>
        <p>Slips!
             Nye slips i vores sortiment. LÆS MERE...</p>

        <p class="para"><strong>7/03/2011</strong></p>
        <p>Se her!
                Nye modeslips er på vej til hjemmesiden. LÆS MERE…</p>

                <p class="para"><strong>30/08/2010</strong></p>
                <p>Nu er de her!
                        Se vores nyeste slips under produkter! LÆS MERE…</p>

                        <img class="img"src="/img/10_tern.jpg">
    </main>
           
           <footer>
                <%include ../partials/footer %>
              </footer>           
  </body>